<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flexi Cloud : Sign-In</title>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <link rel="icon" type="image/x-png" href="./static/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
	</head>

	<style type="text/css">
		h1{
			padding: 3%;
			text-align: center;
		}
	</style>

	<body>
        <script src="./static/header.js"></script>

        <main>
        	{%if content==0%}
            <h1>Registerd Successfully. Please Login again</h1>
        	{%elif content==1%}
        	<h1>Password and Re-Type password didn't match. Please try again</h1>
        	{%elif content==2%}
        	<h1>The User is already registerd. Contact Admin to channge or get a new password!</h1>
        	{%elif content==3%}
        	<h1>Password Changed Successfully, Please login again</h1>
        	{%elif content==4%}
        	<h1>Either Username and Email are not a match as per our record or New Password and Confirm New password didn't match.
        		<a href="/change-password"> Please try again </a>
        	</h1>
        	{%endif%}
        </main>

	</body>
</html>